@mixin transition() {
    transition: all 300ms ease-out;
}

@mixin classicPadding() {
    padding: $space-m;
}

@mixin classicShadow() {
    box-shadow: 1px 1px 5px 1px $shadows;
}

@mixin buttonStyle() {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: $space-xs;
    background-color: transparent;
    border: 3px solid $primary;
    border-radius: $radius-xxs;
    color: $primary;
    font-size: $font-m;
    @include classicPadding();
    text-align: center;
    @include transition();
    &:hover, &.active {
        background-color: $primary;
        color: $grey;
    }
}

@mixin linkStyle() {
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    padding: $space-xxs $space-s $space-xs $space-xs;
    text-decoration: none;
    color: $secondary;
    border: 2px solid transparent;
    @include transition();
    &:hover {
        border-bottom-color: $secondary;
    }
}

@mixin menuStyle() {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: $primary;
    border: 2px solid $grey;
    border-radius: $radius-xs;
    box-shadow: 1px 2px 4px 1px $dark;
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 2;
    @media (max-width: $bp-xxs) {
        width: 80vw;
    }
    > a, > button {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        font-size: $font-m;
        color: $grey;
        border: 1px solid transparent;
        border-bottom: 2px solid $grey;
        border-radius: 0;
        padding: $space-s $space-m;
        text-decoration: none;
        &:hover {
            background-color: $grey;
            color: $primary;
        }
    }
    > a.router-link-exact-active {
        color: $light;
        background-color: $secondary;
    }
}

@mixin alertStyling() {
    box-sizing: border-box;
    border-radius: $radius-xxs;
    border: 2px solid adjust-color($alert, $lightness: -15%);
    @include classicPadding();
    background-color: adjust-color($alert, $lightness: 30%);
    color: adjust-color($alert, $lightness: -15%);
    font-weight: 600;
}