// Colors
$light: #F5EDF0;
$dark: #3D2C2E;
$grey: #424C55;
$primary: #D1CCDC;
$secondary: #05B2DC;
$shadows: #886F68;
$success: #4E937A;
$alert: #BD4F6C;

// Spacing
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;
$space-xxl: 128px;
$space-xxxl: 256px;

// Font sizes
$font-xxs: 10px;
$font-xs: 12px;
$font-s: 16px;
$font-m: 20px;
$font-l: 24px;
$font-xl: 28px;
$font-xxl: 32px;
$font-xxxl: 36px;
$hugefont: 84px;

// Radius
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-s: 8px;
$radius-m: 16px;
$radius-l: 32px;
$circle: 50%;