@import './global/fonts';
@import './global/variables';
@import './global/mixins';

body {
    font-family: Lato, Verdana, Comic Sans, Helvetica, sans-serif;
    background-color: $light;
    color: $dark;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

// Containers
.classic-container {
    max-width: 1200px;
    padding: 0 $space-xs;
    margin: auto;
    position: relative;
}

.modal-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

// Page display and modal

// Text styling
h1, h2, h3 {
    font-weight: 800;
}

h4, h5, h6 {
    font-weight: 700px;
}

h2, h3, h4, h5, h6 {
    color: $grey;
}

h1 {
    font-size: $hugefont;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: $light;
    -webkit-text-stroke:4px $primary;
    margin: 0;
    @media (max-width: $bp-xl) {
        font-size: 60px;
    }
    @media (max-width: $bp-l) {
        font-size: 40px;
    }
    @media (max-width: $bp-s) {
        font-size: 32px;
        -webkit-text-stroke:2px $primary;
    }
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
    font-weight: 700px
}

p, a, li {
    font-size: 16px;
    font-weight: 400;
}