@import './global/fonts';
@import './global/variables';
@import './global/animations';
@import './global/mixins';

body {
    font-family: Lato, Verdana, Comic Sans, Helvetica, sans-serif;
    background-color: $light;
    color: $dark;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

main {
    padding: $space-xl 0;
}

// Containers
.classic-container {
    max-width: 1200px;
    padding: 0 $space-xs;
    margin: auto;
    position: relative;
}

.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

// Contents general display rules
.center-content {
    display: flex;
    justify-content: center;
    &.vertical {
        flex-direction: column;
        align-items: center;
    }
}

.horizontal-display {
    display: flex;
    flex-wrap: wrap;
    gap: $space-m;
}

// Text styling
h1, h2, h3 {
    font-weight: 800;
}

h4, h5, h6 {
    font-weight: 700px;
}

h2, h3, h4, h5, h6 {
    color: $grey;
    margin: 0;
}

h1 {
    font-size: $hugefont;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: $light;
    -webkit-text-stroke:4px $primary;
    margin: 0;
    @media (max-width: $bp-xl) {
        font-size: 60px;
    }
    @media (max-width: $bp-l) {
        font-size: 40px;
    }
    @media (max-width: $bp-s) {
        font-size: 32px;
        -webkit-text-stroke:2px $primary;
    }
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
    font-weight: 700px
}

p, a, li {
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $secondary;
    padding: 0 $space-s $space-xs 0;
    border-bottom: 3px solid transparent;
    @include transition();
    &:hover {
        border-bottom-color: $secondary;
    }
}

.alert-message {
    @include alertStyling();
}

.small-text {
    font-size: $font-xs;
    font-weight: 600;
}

// Forms
form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: $space-l 0 $space-m;
    gap: $space-l;
    @media (max-width: $bp-s) {
        min-width: initial;
        width: initial;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: $space-xxs;
}

.input-container {
    box-sizing: border-box;
    min-width: 280px;
    width: 280px;
    max-width: 280px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    border: 3px solid $shadows;
    border-radius: $radius-xs;
    position: relative;
    &.textarea {
        width: initial;
        max-width: 600px;
        height: initial;
        min-height: 120px;
    }
    @media (max-width: $bp-xxs) {
        min-width: 90%;
        width: 90%;
        max-width: 90%;
        }
    > label {
        color: $shadows;
        text-transform: capitalize;
        position: absolute;
        top: $space-s;
        left: $space-m;
        transition: all 200ms ease-in;
    }
    > input,
    textarea {
        width: 100%;
        @include classicPadding();
        background-color: transparent;
        font-weight: 600;
        border: transparent;
        @media (max-width: $bp-xs) {
            width: 100%;
            min-width: initial;
            max-width: initial;
        }
        &:focus {
            color: $grey;
            + label {
                transform: translate(-$space-m, -$space-l);
                font-size: $font-xs;
                font-weight: 200;
            }
        }
    }
    &.has-value {
        > input,
        > textarea {
            color: $shadows;
            &.colored-dark {
                color: $shadows;
            }
            &:focus {
                color: $grey;
            }
        }
        > label,
        > input:focus + label {
            transform: translate(-$space-m, -$space-l);
            font-size: $font-xs;
            font-weight: 200;
        }
    }
}

input, textarea {
    font-size: $font-s;
    font-family: Lato, Verdana, Comic Sans, Helvetica, sans-serif;
}

button {
    width: fit-content;
}

// Center icon in all components
.material-design-icon {
    padding-top: $space-xs;
}